CHI vs. CHO when HRR is sent

While attempting to draft a change for https://github.com/tlswg/draft-ietf-tls-esni/issues/359, I was confused by this part of section 6.1.4:

"If the server sends a HelloRetryRequest in response to the ClientHello, the client sends a second updated ClientHello per the rules in [RFC8446]. However, at this point, the client does not know whether the server processed ClientHelloOuter or ClientHelloInner"

When does the client learn whether the server processed ClientHelloOuter or ClientHelloInner? If the client sees that the last 8 bytes of ServerHello.random were set to the first 8 bytes of `accept_confirmation`, does it just assume that the first ClientHello that the server processed was a ClientHelloInner? That seems like a big assumption. Couldn't the following happen?:

```
Client                           Client-facing server             Backend server
              CHO(CHI)
           ------------->
                                   (processes CHO)
                HRR
           <-------------
              CHO(CHI)
           ------------->
                                                          CHI
                                                      ----------->
                                                                  (processes CHI)
                            SH
          <-----------------------------------------------------

```

If this can happen, the client will assume, after it receives the SH, that the server processed the first ClientHelloInner, but this is in fact not the case, and the transcript will break. I mean, I guess that's okay if you don't want this behavior to succeed, but AFAICT, the draft doesn't explicitly say that the client-facing server shouldn't do this. Should it?

(Sorry if this is in fact already resolved somewhere in the draft. Also I'm pretty sure it's a different issue from https://github.com/tlswg/draft-ietf-tls-esni/issues/333.)

Yeah, this is one of the HRR headaches. :-) We don't know until SH whether CHO or CHI was used, so the second ClientHello needs to evaluate _both_ CHO and CHI against HRR. #316 patched the worst of the headache (what if evaluating HRR is an error for CHO but not for CHI?), but it's a really awkward solution.

(I still need to write up the two HRRs solution we've been muttering about.)

Why can't the backend server just set HelloRetryRequest.random the way it sets ServerHello.random? I believe it'll be a different value in the HRR vs SH if we still care about sticking out, which we don't. ;-)

(Oh sorry, by "two HRRs solution" I didn't mean two solutions for HRR, but a single solution involving two HRRs. :-) )

As part of the middlebox compatibility goofiness, a HelloRetryRequest message is encoded as a ServerHello message with a special fixed value for ServerHello.random. It's kind of a mess.

I suppose we could declare that the HRR indicator is now actually 24 bytes instead of 32 and then reapply the SH.random trick? I dunno, given #358, I figure this ought to look like a HelloRetryRequest.encrypted_client_hello extension (as sticking out in HRR flows is hopeless). That then gives us room to solve #333 and then... yeah that is basically the solution I need to write up. :-)

> (Oh sorry, by "two HRRs solution" I didn't mean two solutions for HRR, but a single solution involving two HRRs. :-) )

Oh haha. Read that too fast. Where is this solution described? I don't see it in the open HRR issues.

> As part of the middlebox compatibility goofiness, a HelloRetryRequest message is encoded as a ServerHello message with a special fixed value for ServerHello.random. It's kind of a mess.

Oh. Is that an implementation detail or part of the spec? I don't see that in section 4.1.4 of RFC 8446.


> Oh haha. Read that too fast. Where is this solution described? I don't see it in the open HRR issues.

Nowhere yet. :-( It's the thing we mumbled about at our last sync and I still need to write up a description.

> Oh. Is that an implementation detail or part of the spec? I don't see that in section 4.1.4 of RFC 8446.

Looks like it's spread out a bit. 4.1.4 says:

> As discussed in Section 4.1.3, the HelloRetryRequest
>   has the same format as a ServerHello message, and the legacy_version,
>   legacy_session_id_echo, cipher_suite, and legacy_compression_method
 >  fields have the same meaning.  However, for convenience we discuss
>   "HelloRetryRequest" throughout this document as if it were a distinct
>   message.

And then 4.1.3 says:

>   For reasons of backward compatibility with middleboxes (see
>   Appendix D.4), the HelloRetryRequest message uses the same structure
>   as the ServerHello, but with Random set to the special value of the
>   SHA-256 of "HelloRetryRequest":
>
>     CF 21 AD 74 E5 9A 61 11 BE 1D 8C 02 1E 65 B8 91
>     C2 A2 11 16 7A BB 8C 5E 07 9E 09 E2 C8 A8 33 9C
>
>   Upon receiving a message with type server_hello, implementations MUST
>   first examine the Random value and, if it matches this value, process
>   it as described in Section 4.1.4).

Agh, thanks.

> I suppose we could declare that the HRR indicator is now actually 24 bytes instead of 32 and then reapply the SH.random trick?

Wouldn't that break middleboxes?

> I figure this ought to look like a HelloRetryRequest.encrypted_client_hello extension

SGTM