Including Presentation language

I believe it will be helpful to understanding this document to either add "Presentation Language" to this document or link to Presentation Language elsewhere. The TLS/1.3 document has something similar in [RFC8446 Section 3](https://tools.ietf.org/html/rfc8446#section-3)