AAD calculation could use more explanation

The draft says

"The ClientEncryptedSNI.encrypted_sni value is then computed using the usual TLS 1.3 AEAD:

    encrypted_sni = AEAD-Encrypt(key, iv, KeyShareClientHello, ClientESNIInner)

Where KeyShareClientHello is the "extension_data" field of the  "key_share" extension in a Client Hello (Section 4.2.8 of [RFC8446]))"

I found that NSS inserts an extra 8 bytes of zeros in front of KeyShareClientHello for its AAD:
https://dxr.mozilla.org/mozilla-central/rev/0e1726e95801928249c4dc14fd23fe2cbbb13b3b/security/nss/lib/ssl/tls13esni.c#665

I'm not sure if those zeros are implied by one of the references. I couldn't spot it after looking for 10 minutes or so, and that byte seems to be in code specifically intended for ESNI.

You're misreading the code. This is an idiosyncracy of the internal NSS interface. The 0s here are what would be the TLS sequence number ordinarily and are not part of the AAD.

It could be a misreading, but should this be closed? At the very least, some TLS implementations will prepend 8 bytes of zeros. Another instance of unclear input treatment in this text.

NSS's code isn't part of the text, so the spec isn't responsible for people's misinterpretations of the NSS code (or any other code).

Well, currently NSS's code is implied in the spec, because no one could get the ESNI record's checksum right by following any draft. One would have to combine -02 and -04 in the way NSS does.

I haven't verified that this is true, but even if it is, NSS Is not the reference implementation for the specification and failure to interoperate with NSS is not the test for correct implementations. We (NSS) are not attempting to track the current spec because issues are still in fluc, so it's entirely possible that our implementation is in some funny state, but that's still not a spec issue.

It's true. record_digest is transmitted in the clear, and I noticed my implementation's value mismatched Firefox's.

I think the issue is not so much that NSS has bugs (it happens), but that the spec is vague enough I am having trouble telling whether NSS's behavior is following the spec.