Clarification on AAD for ClientEncryptedSNI.encrypted_sni

It was initially not clear to me what should be included in the AAD for encrypting ClientESNIInner into ClientEncryptedSNI.encrypted_sni. The spec currently says:

> The ClientEncryptedSNI.encrypted_sni value is then computed using the usual TLS 1.3 AEAD:
>
>     encrypted_sni = AEAD-Encrypt(key, iv, ClientHello.KeyShareClientHello, ClientESNIInner)
>
> Where ClientHello.KeyShareClientHello is the body of the extension but not including the extension header.

ClientHello.KeyShareClientHello is not defined in this document. At first I thought it would cover ClientEncryptedSNI.key_share, but that seemed odd.

Later I found that it refers to the Key Share extension defined in [RFC 8446, Section 4.2.8. Key Share](https://tools.ietf.org/html/rfc8446#section-4.2.8). Perhaps this reference could be added?

On a related note, `HKDF-Extract(0, Z)` should probably become `HKDF-Extract("", Z)` or be explicit about the salt as is done in https://tools.ietf.org/html/rfc8446#section-7.1 (or https://tools.ietf.org/html/rfc5869#section-2.2).

FWIW, I also had a little trouble with this. My initial interpretation was to use the h/w key share that ends up being used as the AAD, which worked fine for my client (vs cloudflare) and for my server (vs. NSS' tsclnt). In each of those cases though only one key share was sent by the client. FF nightly however sends two key shares in the h/s so I had to change my code to do the right thing. Could be worth a note in the internet-draft e.g. saying to use (the encoding of) all key shares from the h/s and that some clients do send more than one.  