ECH Client Behavior/Security Considerations when HOSTS.TXT overrides DNS Resolver to bootstrap ECH server's IP address

Hi,

Understand this is quite late in the drafting process to ask tricky questions...

May I suggest that the Client Behavior and Security Considerations sections need some pointers around situations when the server address resolution by a DNS resolver (be that either a DNS Stub Resolver or a secure DNS resolver) is overridden by an entry in the hosts file (i.e. HOSTS.TXT or /etc/hosts).

In the current ECH client implementations this completely disables ECH (e.g. tested with Google Chrome).
If the hosts file contains an IP address entry for a host, the client will not attempt any SVCB/HTTPS DNS look-ups and will not negotiate an ECH handshake.

On one hand this may be a desired behaviour since the hosts file is supposed to override DNS A/AAAA records, and therefore it makes sense to also invalidate other DNS Service Binding records such as SVCB/HTTPS.

On the other hand the hosts file may be used for the purposes of securely bootstrapping the ECH server's IP address in a hostile DNS resolver environments, but unfortunately by doing so it also loses the ECH functionality without any DNS Service Binding lookup attempts to get ECHConfig.

Here's a use-case example ...

We have a bit of a chicken and egg problem where TLS ECH ideally relies on secure DNS, while secure DNS in turn relies on TLS (e.g. DoH, DoT, DoD, DoQ, etc.).

DNS protocol is the prime target for surveillance and MitM tampering.

Web browsers and operating systems allow configuration of a secure DoH services to be used for DNS.
Some users may wish to bootstrap their secure DNS connections by placing secure DNS server entries in the hosts file (when DNS client configuration doesn't allow bootstrapping).
Since these secure DNS connections rely on TLS, it would be nice to be able to use ECH for them as well, to hide the secure DNS FQDN.

However, right now bootstrapping a DoH server's address in the hosts file disables ECH for all connections to the DoH server.

This begs the following questions:

* Should the Security Considerations section call out that attempts to bootstrap ECH server address in the hosts file will override DNS Service Bindings and disable ECH?
* Should the Client Behavior section specify whether or not the client should attempt to perform DNS Service Binding lookups for SVCB/HTTPS records for a server that has its A/AAAA records overridden by a hosts file? Is this a privacy vs. service availability prioritisation dilemma?
* Should this spec define a Strict Privacy Profile and an Opportunistic Privacy Profile for ECH similar to the way [RFC 8310](https://www.rfc-editor.org/rfc/rfc8310.html) does it for secure DNS?
* Should this spec attempt to resolve the chicken-and-egg problem by updating any of the secure DNS specs ([RFC 7858](https://www.rfc-editor.org/rfc/rfc7858.html), [RFC 8094](https://www.rfc-editor.org/rfc/rfc8094.html), [RFC 9114](https://www.rfc-editor.org/rfc/rfc9114.html), [RFC 9250](https://www.rfc-editor.org/rfc/rfc9250.html)) e.g. if secure DNS clients are bootstrapping secure DNS server IPs they should also bootstrap the secure DNS server's ECHConfig?
* Should TLS ECH connections to secure DNS servers augment or rely on [RFC 9461](https://www.rfc-editor.org/rfc/rfc9461.html) and its Security Considerations?
* Should any or all of the above questions be delegated to the [ECH-IN-DNS](https://datatracker.ietf.org/doc/html/draft-ietf-tls-svcb-ech-08) or some other future spec?

Some of these questions may need a consult/sanity check with the [dprive WG](https://datatracker.ietf.org/wg/dprive/about/).

Also btw the draft 25 needs the References section update for version bump of [ECH-IN-DNS](https://datatracker.ietf.org/doc/html/draft-ietf-tls-svcb-ech-08).


It seems like there are two things one might want:

1. To have a way to use hosts.txt for the IP address and DNS for ECHConfig.
2. To have a way to bootstrap ECH totally locally.

It's undesirable to get the IP address from hosts.txt and the ECHConfig from DNS because that can lead to situations where the records correspond to different operators with different ECH configurations and potentially result in failures. All of the information should come from the same place.

Even if this weren't true, I don't think it gets us very much. ECH is not required to secure a TLS connection but just to conceal the data in the CH. However, the most relevant such piece of information, the SNI, is also the DNS name that the client 
retrieved, so if the client were to do try to resolve the DNS resolver's ECHConfig, this would leak that information in any case. 

I suppose it might be worth having some specification for how to bootstrap ECH without DNS, but that seems like it would be separate and shouldn't impact these drafts. 

Re the rest of your questions, I don't think we should make any changes. The expected behavior is that hosts.txt overrides DNS and that's what's happening here.


> Also btw the draft 25 needs the References section update for version bump of [ECH-IN-DNS](https://datatracker.ietf.org/doc/html/draft-ietf-tls-svcb-ech-08).

This document is in AUTH48 and the RPC has already fixed the reference.







Hiya,

On 20/12/2025 22:50, Eric Rescorla wrote:
> I suppose it might be worth having some specification for how to
> bootstrap ECH without DNS, but that seems like it would be separate
> and shouldn't impact these drafts.
> 
> Re the rest of your questions, I don't think we should make any
> changes. The expected behavior is that hosts.txt overrides DNS and
> that's what's happening here.

I concur.

S.



> Some users may wish to bootstrap their secure DNS connections by placing secure DNS server entries in the hosts file (when DNS client configuration doesn't allow bootstrapping).

Note that Chromium supports an "[Enhanced Bootstrap](https://www.chromium.org/developers/dns-over-https/#doh-providers)" configuration that avoids the need to edit hosts.txt in this case.  One can enter the IP addresses along with the DoH URI template, as a JSON blob, directly into the Secure DNS settings field.

This JSON syntax is a predecessor of the [WKECH JSON](https://www.ietf.org/archive/id/draft-ietf-tls-wkech-11.html#name-the-json-structure-for-orig) spec.  I hope that the Chromium developers will update it to match that specification, which would address your primary use case in the way that @ekr suggested.  I do not believe this requires any changes to the text of these specifications.