Move ECHConfig validation

S 6.1.7 says:

> Prior to attempting a connection, a client SHOULD validate the `ECHConfig`.
Clients SHOULD ignore any
`ECHConfig` structure with a public_name that is not a valid host name in
preferred name syntax (see {{Section 2 of RFC9499}}).  That is, to be
valid, the public_name needs to be a dot-separated sequence of LDH labels, as
defined in {{Section 2.3.1 of !RFC5890}}, where:

...


This seems like it should be generic, not in a section about how to process
the public name, right?

@davidben 

